@media (prefers-reduced-motion: no-preference) {
  .turn {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: transparent !important;
  max-width: 125px;
  width: 125px;
}

.i {
  height: 40px;
  width: 40px;
}

.spaan {
  color: teal;
}

.footer-text {
  font-size: 1.5em;
  color: teal;
}

.typicalSize {
  font-size: 30px;
}

.Message {
  height: 250px;
}

.position {
  margin-left: 15px !important;
  width: 90% !important;
}
.positionDiv {
  width: 90% !important;
}

.first {
  margin-top: 30px !important;
}

.imageProject:hover {
  transform: scale(1.1);
}

.app {
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
